MINIO_ROOT_USER=admin_user
MINIO_ROOT_PASSWORD=admin_password

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

POSTGRES_DATABASE_URI=postgresql://user:password@localhost:5434/receipts_db
ASYNC_POSTGRES_DATABASE_URI=postgresql+asyncpg://user:password@localhost:5434/receipts_db

AWS_ACCESS_KEY_ID=admin_user
AWS_SECRET_ACCESS_KEY=admin_password
AWS_REGION=us-east-1

S3_BUCKET=receipts
S3_ENDPOINT=http://localhost:9001

REDIS_HOST=localhost
REDIS_PORT=6379